/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(192, 135, 245);
}

h1,
h2,
h3{
    color: #fff;
    text-shadow:0 -5px 5px rgba(0, 0, 0, 0.2) ;
}

/* Header */
header{
    text-align: center;
}


/* Main */
main{
    text-align: center;
    display: flex;
    justify-content: center;
}

main h2{
    margin-top: 150px;
}

main ul{
    list-style: none;
    margin-left: 150px;
}

main ul li{
    margin-top: 10px;
    margin-bottom: 10px;
    min-width:150px;
    max-width: 300px;
    background-color: aqua;
    padding: 15px;
    color: rgb(69, 2, 114);
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}